html, body, #root {
  background: #c9d2df;
  color: #252e3c;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tabbar.row {
    margin-bottom: 20px;
}
.laneTitle {
    margin-bottom: 10px;
}
.laneTitle button.btn.btn-primary, .laneTitle button.btn.btn-primary:focus, .laneTitle button.btn.btn-primary:active {
  background: #adbbcf;
  border: 1px solid #adbccf;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #616977;
  padding: 5px 20px;
  outline: none;
  box-shadow: none;
  margin-top: 0px;
  margin-bottom: 10px;
  float: right;
}
ul {
  border-radius: 8px;
  padding: 0px;
  margin-bottom: 10px!important;
}

li.messages {
    list-style: none;
    margin-bottom: 10px;
}

h1.innerTitle {
    font-size: 1.45rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
}
p {
  margin-bottom: 0!important;
}
p.chat, .chat {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  padding: 15px;
  display: inline-block;
  margin: 0px!important;
  line-height: 1.3;
  background: #fff;
  color: #354153;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0px 3px 20px #b0bfd7;
}
.chat.chatInner {
  padding-bottom: 20px;
}
.chat.store {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.producttitle {
  font-size: 0.8rem;
  font-weight: 700;
  display: inline-block;
  width: calc(100% - 100px);
  padding-top: 3px;
  line-height: 1.2;
}
.notes {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  padding: 15px;
  display: inline-block;
  margin: 0px!important;
  line-height: 1.3;
  background: #edf3fc;
  color: #354153;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0px 3px 20px #b0bfd7;
  transition: 0.2s ease;
}
.notes:hover {
  background: #fff;
  transition: 0.2s ease;
}
.notes a, .notes a:hover {
  color: #354153;
  text-decoration: none;
}
li.messages:last-child {
  margin-bottom: 0px;
}
.chat h2 {
  color: #354153;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 5px;
}
.itemName span{
  display: inline-block;
  color: #354153;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
}
.chat a, .chat a:hover {
    color: #252e3c;
    text-decoration: none;
}

.info {
    display: block;
}
span.storename {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    color: #808ca1;
    margin-bottom: 5px;
}
span.storenameInner {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 700;
    color: #808ca1;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.chat h2.titleInner {
    color: #354153;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 5px;
}
span.subtle {
    color: #9aa5b6;
    padding-right: 3px;
}
span.timestamp.tag {
    border-radius: 4px;
    border: 1px solid #aeb6c6;
    padding: 4px 7px;
    margin-right: 10px;
}

span.timestamp, .link {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  color: #8a97aa;
  margin-bottom: 10px;
}
span.city, p.profileSub {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  color: #8a97aa;
  margin-bottom: 10px;
}
.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3;
  max-height: 45px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 205px;
  font-size: 0.85rem;
  font-weight: 500;
  color: #8a97aa;
  margin-bottom: 5px;
}
.itemdesc {
  display: block;
  font-size: 0.85rem;
  font-weight: 500;
  color: #8a97aa;
  margin-bottom: 15px;
}
.itemdescInner {
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 500;
  color: #8a97aa;
  margin-bottom: 15px;
}
span.smallHead {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #808ca1;
}
span.smallHeadSection {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #808ca1;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
span.timestamp.delete, .link {
    color: #eaecff!important;
    padding: 5px 10px!important;
    margin-left: 10px;
    border-radius: 4px!important;
    cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

span.timestamp.delete a {
  background: none;
}

.formhold {
    display: block;
    width: 100%;
    height: auto;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0px;
    background: #fff;
    padding: 5px 10px;
}

.formhold .form-group {
    display: inline-block;
    width: calc(100% - 60px);
    margin: 0px 0px 20px;
}
.form-control {
    color: #737d8c;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #798496;
    background: #ffffff;
    background-clip: padding-box;
    border: 1px solid #f6fafe;
}
.form-control:focus {
    color: #737d8c;
    background-color: #f5faff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
form.FormInput textarea {
    display: inline-block;
    position: relative;
    padding: 15px;
    line-height: 1.2;
    border-radius: 4px;
    border: 1px solid #dfe6ef;
    background: #dfe6ef;
    color: #1b1b1f;
    width: 100%;
    bottom: -5px;
}

::placeholder {
  color: #717190;
}

form.FormInput textarea:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #e3e3ea;
}

.input-group-append {
    margin-left: -1px;
    padding: 7px 10px;
}

button.btn.btn-primary.btn-block.chatBtn {
    z-index: 100;
    position: relative;
    width: 40px;
    right: -15px;
    bottom: 10px;
    padding: 5px 5px;
    font-weight: bold;
    background: #2973df;
    border: #2973df;
    border-radius: 100px;
    display: inline-block;
}

button.mesDel {
    margin-left: 10px;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    font-size: 13px;
    color: #333ee6;
    font-weight: bold;
    background: #777ee2;
    border: none;
}

.navbar {
  margin-bottom: 0px;
  padding: 0px!important;
  background: #fff;
}

.nav-item button {
  border-radius: 100px;
  padding: 2px 20px;
  background: #5d6e87!important;
  border: 1px solid #5d6e87;
}

.navbar-nav {
    color: #252e3c;
    padding: 10px 0px!important;
}
a.navbar-brand {
    color: #4d5662!important;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 auto;
}
.navbar-light .navbar-toggler {
    border: none;
    background: none!important;
    padding: 4px 5px;
    border-radius: 100px;
}
button:focus {
  outline: none!important;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.nav-item {
    padding: 10px;
    text-align: center;
}
#basic-navbar-nav.justify-content-end.navbar-collapse.collapse {
  border-radius: 8px;
}

button.innerBtn, button.innerBtn:hover, button.innerBtn:active {
  width: 100%;
  background: #aab7c8!important;
  outline: none;
  border: #aab7c8;
  color: #252d3c;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}
button.timestamp.delete.btn.btn-primary {
    display: inline-block;
    background: #94a1b4;
    border: 1px solid #94a1b4;
    padding: 0 8px;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 100px;
    margin-top: 15px;
    float: right;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("./images/menu-icon.svg")!important;
}
span.timestamp.delete {
  position: absolute;
  right: 15px;
  top: 0;
  display: block;
  width: 20px;
  height: auto;
  color: transparent!important;
  padding: 0px!important;
  background-image: url(/static/media/menu-icon.ed92e89c.svg)!important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.dropdown {
    display: inline;
    float: right;
}

/* Items Styling */
.itemImg {
    max-width: 100%;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    overflow: hidden;
    background: #d9e0e9;
    border-radius: 4px;
}
.itemImg img{
    height: 100%;
    width: auto;
}
.itemImgInner {
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    background: #d9e0e9;
    border-radius: 4px;
    margin-bottom: 10px;
}
.itemImgInner img{
    height: auto;
    width: 100%;
}
span.pricing {
  font-size: 0.85rem!important;
  font-weight: 700;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #1fb13f;
  padding: 2px 10px;
  background: #ffffff;
  border: 1px solid #1fb13f91;
  border-radius: 100px;
}
span.cat {
    display: inline-block;
    padding: 5px 9px 4px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #8a97aa;
    border: 1px solid #c6ced9;
    border-radius: 100px;
}
span.MuiTab-wrapper {
    text-transform: none;
    font-weight: 600;
    font-size: 0.9rem;
}
.storeHeader {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
}
.storeHeader h2 {
  font-size: 1.1rem;
}
.storeHeader .timestamp {
  font-size: 0.95rem;
  color: #4a576a;
}
.storeHeader .cat {
  margin-bottom: 5px;
}
.itemImg.storeList {
  background: #d9e0e9;
  border-radius: 100px;
  border: 2px solid #fff;
  box-shadow: 0px 3px 5px #bbc0c8;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.storeImg {
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    background: #d9e0e9;
    border-radius: 100px;
    border: 2px solid #fff;
    box-shadow: 0px 3px 5px #bbc0c8;
    margin: 0 auto 10px;
}
.storeImg img {
  height: 100%;
  width: auto;
}
.itemTitle {
    background: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 8px 8px 0px 0px;
    padding: 15px 10px 15px 20px;
    line-height: 1;
}
.itemTitle span.pricing{
    float: right;
    margin-bottom: 0px;
    font-size: 1rem;
}
.storebtn.btn.btn-primary {
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    padding: 5px 15px;
    border-radius: 100px;
    background: #1da65d;
    border: 1px solid #1da65d;
    float: right;
    margin-top: 15px;
}
button.storebtn.delete.btn.btn-primary.btn-block {
    background: white;
    border: 1px solid #dc3545;
    color: #dc3545;
}
button.storebtn.copy_link.btn.btn-primary.btn-block {
    background: #fff;
    border: 1px solid #a5afbe;
    color: #5f6d82;
}
button.signup.nav-item {
  border: 1px solid #1ba65d;
  background: #1da65d;
  padding: 9px 15px;
  border-radius: 100px;
  line-height: 1;
  font-size: 0.85rem;
  font-weight: 700;
  color: #ffffff;
}
span.divider {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #c0c7d2;
    margin: 25px 0px 5px;
}
.bottomNav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    margin: 0!important;
    text-align: center;
    padding: 12px 5px 3px;
}
.bottomNavPublic {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    margin: 0!important;
    text-align: center;
    padding: 12px 5px;
}
.svg-inline--fa {
  font-size: 1.3rem;
  display: block;
  margin: 0 auto;
}
a:hover {
  text-decoration: none!important;
}
a .navItemLanding {
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    font-weight: 600;
}
a.active .navItemLanding {
    border: 1px solid #8994a5;
    border-radius: 100px;
    text-decoration: none;
}
a.active:hover .navItemLanding {
    text-decoration: none!important;
}
.bottomNav a, .bottomNav a:hover {
  color: #9aa7b7;
}
.bottomNav .active, .bottomNav .active:hover {
  text-decoration: none!important;
  color: #394450;
}
.newitemform {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.uploadcare--widget {
  display: block;
}
.uploadcare--widget button {
  background: #6e7e95;
  font-weight: 500;
  width: 100%;
  margin-bottom: 20px;
}
span.uploadImg {
    display: block;
    width: 100%;
    background: #dbe4f0;
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
}
span.uploadImg img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
button.settings {
  background: #c2cddd;
  border: 1px solid #c2cddd;
  color: #354152;
  font-weight: 600;
  font-size: 0.85rem;
}
span.poweredby {
    display: block;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 700;
    color: #65768d;
    margin-top: 30px;
}
h1.pageTitle {
    margin: 30px 0px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}
h1.pageIntro {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto 20px;
    color: #737f90;
}
h4.catTitle {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    background: #fff;
    padding: 10px;
    border-radius: 100px;
}
.MuiBreadcrumbs-root.breadcrumbs {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  text-transform: uppercase;
  font-size: 0.85rem;
  padding-bottom: 10px;
}
span.storename svg {
  font-size: 0.6rem;
  height: auto;
  display: inline;
  padding: 0px 0px 1px;
}
span.stars svg {
    display: inline;
    font-size: 0.7rem;
    margin-right: 3px;
    color: #f1b809;
}
svg.icon_store {
    font-size: 1.1rem;
}
svg.icon_star {
    font-size: 0.9rem;
    color: #f3c613;
}
svg.icon_star_empty {
    font-size: 0.9rem;
    color: #ced3da;
}
svg.icon_star_list {
    font-size: 0.7rem;
    color: #f3c613;
}
svg.icon_star_empty_list{
    font-size: 0.7rem;
    color: #ced3da;
}
.navItem p {
    font-size: 0.85rem;
    font-weight: 500;
}
.break {
    display: block;
    height: 1px;
    width: 100%;
}
px-2.col-6 {
    margin-bottom: 25px;
}

.catBlock {
    background: #fff;
    border-radius: 8px;
    padding: 20px 15px;
    margin-bottom: 20px;
    min-height: 128px;
    display: table-cell;
    vertical-align: middle;
    color: #343e4c;
    width: 200px;
    height: auto;
    text-align: center;
}
.catIcon {
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 2rem;
    margin-bottom: 3px;
}
.catName {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -8px;
}
select#formDrop {
    display: block;
    font-size: 16px;
    font-weight: 600!important;
    text-align-last:center;
    color: #4c5a6f;
    line-height: 1.2;
    padding: .4rem 1rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #c4d0e4;
    border-radius: 100px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}
select#formDrop::-ms-expand {
    display: none;
}
select#formDrop:hover {
    border-color: #888;
}
select#formDrop:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
select#formDrop option {
    font-weight:normal;
}
.Footer {
    background: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    margin: 10px auto -30px;
}
form.homeSearch {
    margin: 5px 0px;
}
form.homeSelect {
    margin: 5px 0px;
}
.px-2.col-6 {
    margin-bottom: 20px;
    display: table;
}
.px-2.col-6 a{
  display: table;
  width: 100%;
  height: auto;
}
.pageTitleCat {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
    padding: 0px 20px;
    color: #929ba9;
}
.footer.navbar-brand {
    font-weight: 600;
    color: #4b596f;
    font-size: 1rem;
    line-height: 1.3;
}
h3.pageSubTitleCat {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 1rem;
    color: #717c8c;
}
h3.pageSubTitleFooter {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    color: #717c8c;
}
.catBlock.disB .catIcon, .catBlock.disB .catName, .catBlock.disB .catCount {
    opacity: .5;
}
span.dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #84d068;
    border-radius: 100px;
    margin-right: 6px;
}
span.catCount {
    text-align: center;
    display: inline-block;
    font-size: 0.7rem;
    color: #6c7684;
    font-weight: 700;
    text-transform: uppercase;
}
input.formSearch {
    color: #525a67;
    background: #fafcff;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500!important;
    line-height: 1.2;
    padding: 0px 20px;
    border: 1px solid #fafcff;
}
input.formSearch::placeholder {
    color: #8792a1;
}
input.formSearch:focus {
    color: #525a67;
    background: #fff;
    outline: none;
    border: 1px solid #fff;
    box-shadow: none;
}
button.searchBtn {
    font-size: 18px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 0.15rem 0.8rem 0.15rem 0.7rem;
    font-weight: 600;
    background: #1d7ce4;
    z-index: 4!important;
}
h4.badSearchTitle {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    line-height: 1.4;
    border-radius: 8px;
}
span.badSearchIcon {
    display: block;
    font-size: 40px;
}
span.formTitles {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    color: #7e8b9c;
}
button.ProfileImgBtn.btn.btn-primary {
    background: none;
    display: block;
    border: none;
    padding: 0;
    margin: 0 auto;
    width: 70px;
}
span.ProfileImg {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #9ea8b7;
    margin: 0 auto;
    text-align: center;
    border-radius: 100px;
    border: 2px solid #9fa8b7;
}
span.ProfileText {
  margin-top: -20px;
  font-size: 40px;
}
/* Icons for category */
span.catIcon img {
    display: block;
    height: 50px;
    width: auto;
    margin: 0 auto -5px;
}
span.ratingText {
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 8px;
    color: #8a97aa;
}
.storeHeader .timestamp a {
    color: #3e77ca;
}
.storeHeader .timestamp {
    font-size: 0.8rem;
    color: #586475;
    line-height: 1.3;
}
h1.landingTitle {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: #2d3540;
    margin: 15px auto 20px;
}
