html, body, #root {
  background: #c9d2df;
  color: #252e3c;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tabbar.row {
    margin-bottom: 20px;
}
.laneTitle {
    margin-bottom: 10px;
}
.laneTitle button.btn.btn-primary, .laneTitle button.btn.btn-primary:focus, .laneTitle button.btn.btn-primary:active {
  background: #adbbcf;
  border: 1px solid #adbccf;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #616977;
  padding: 5px 20px;
  outline: none;
  box-shadow: none;
  margin-top: 0px;
  margin-bottom: 10px;
  float: right;
}
ul {
  border-radius: 8px;
  padding: 0px;
}

li.messages {
    list-style: none;
    margin-bottom: 20px;
}

h1.innerTitle {
    font-size: 1.45rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
}
p {
  margin-bottom: 0!important;
}
p.chat, .chat {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  padding: 20px;
  display: inline-block;
  margin: 0px!important;
  line-height: 1.3;
  background: #fff;
  color: #354153;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0px 3px 20px #b0bfd7;
}
.chat.store {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.producttitle {
  font-size: 0.8rem;
  font-weight: 700;
  display: inline-block;
  width: calc(100% - 100px);
  padding-top: 3px;
  line-height: 1.2;
}
.notes {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  padding: 15px;
  display: inline-block;
  margin: 0px!important;
  line-height: 1.3;
  background: #edf3fc;
  color: #354153;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0px 3px 20px #b0bfd7;
  transition: 0.2s ease;
}
.notes:hover {
  background: #fff;
  transition: 0.2s ease;
}
.notes a, .notes a:hover {
  color: #354153;
  text-decoration: none;
}
li.messages:last-child {
  margin-bottom: 0px;
}
.chat h2 {
  color: #354153;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 5px;
}

.chat a, .chat a:hover {
    color: #252e3c;
    text-decoration: none;
}

.info {
    display: block;
}

span.timestamp.tag {
    border-radius: 4px;
    border: 1px solid #aeb6c6;
    padding: 4px 7px;
    margin-right: 10px;
}

span.timestamp, .link {
  display: block;
  font-size: 0.85rem;
  font-weight: 500;
  color: #8a97aa;
  margin-bottom: 15px;
}
span.city, p.profileSub {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  color: #8a97aa;
  margin-bottom: 10px;
}
.desc {
  display: block;
  width: 205px;
  font-size: 0.85rem;
  font-weight: 500;
  color: #8a97aa;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3;
  max-height: 50px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.itemdesc {
  display: block;
  font-size: 0.85rem;
  font-weight: 500;
  color: #8a97aa;
  margin-bottom: 15px;
}
span.timestamp.delete, .link {
    color: #eaecff!important;
    padding: 5px 10px!important;
    margin-left: 10px;
    border-radius: 4px!important;
    cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

span.timestamp.delete a {
  background: none;
}

.formhold {
    display: block;
    width: 100%;
    height: auto;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0px;
    background: #fff;
    padding: 5px 10px;
}

.formhold .form-group {
    display: inline-block;
    width: calc(100% - 60px);
    margin: 0px 0px 20px;
}

form.FormInput textarea {
    display: inline-block;
    position: relative;
    padding: 15px;
    line-height: 1.2;
    border-radius: 4px;
    border: 1px solid #dfe6ef;
    background: #dfe6ef;
    color: #1b1b1f;
    width: 100%;
    bottom: -5px;
}

::placeholder {
  color: #717190;
}

form.FormInput textarea:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #e3e3ea;
}

.input-group-append {
    margin-left: -1px;
    padding: 7px 10px;
}

button.btn.btn-primary.btn-block.chatBtn {
    z-index: 100;
    position: relative;
    width: 40px;
    right: -15px;
    bottom: 10px;
    padding: 5px 5px;
    font-weight: bold;
    background: #2973df;
    border: #2973df;
    border-radius: 100px;
    display: inline-block;
}

button.mesDel {
    margin-left: 10px;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    font-size: 13px;
    color: #333ee6;
    font-weight: bold;
    background: #777ee2;
    border: none;
}

.navbar {
  margin-bottom: 0px;
  padding: 0px!important;
  background: #fff;
}

.nav-item button {
  border-radius: 100px;
  padding: 2px 20px;
  background: #5d6e87!important;
  border: 1px solid #5d6e87;
}

.navbar-nav {
    color: #252e3c;
    padding: 10px 0px!important;
}
a.navbar-brand {
    color: #94a1b4!important;
    font-weight: bold;
    margin: 0 auto;
}
.navbar-light .navbar-toggler {
    border: none;
    background: none!important;
    padding: 4px 5px;
    border-radius: 100px;
}
button:focus {
  outline: none!important;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.nav-item {
    padding: 10px;
    text-align: center;
}
#basic-navbar-nav.justify-content-end.navbar-collapse.collapse {
  border-radius: 8px;
}

button.innerBtn, button.innerBtn:hover, button.innerBtn:active {
  width: 100%;
  background: #aab7c8!important;
  outline: none;
  border: #aab7c8;
  color: #252d3c;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}
button.timestamp.delete.btn.btn-primary {
    display: inline-block;
    background: #94a1b4;
    border: 1px solid #94a1b4;
    padding: 0 8px;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 100px;
    margin-top: 15px;
    float: right;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("./images/menu-icon.svg")!important;
}
span.timestamp.delete {
  position: absolute;
  right: 15px;
  top: 0;
  display: block;
  width: 20px;
  height: auto;
  color: transparent!important;
  padding: 0px!important;
  background-image: url(/static/media/menu-icon.ed92e89c.svg)!important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.dropdown {
    display: inline;
    float: right;
}

/* Items Styling */
.itemImg {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    background: #d9e0e9;
    border-radius: 4px;
    margin-bottom: 15px;
}
.itemImg img{
    height: auto;
    width: 100%;
}
span.pricing {
  font-size: 0.85rem!important;
  font-weight: 900;
  display: inline-block;
  margin-bottom: 5px;
  color: #1fb13f;
  padding: 2px 5px;
  border: 1px solid #1fb13f;
  border-radius: 4px;
}
span.cat {
    display: inline-block;
    padding: 5px 9px 4px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #8a97aa;
    border: 1px solid #c6ced9;
    border-radius: 100px;
}
span.MuiTab-wrapper {
    font-family: Helvetica;
    text-transform: none;
    font-weight: 500;
    font-size: 0.9rem;
}
.storeHeader {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
}
.storeHeader h2 {
  font-size: 1.3rem;
}
.storeHeader .timestamp {
  font-size: 0.95rem;
  color: #4a576a;
}
.storeHeader .cat {
  margin-bottom: 5px;
}
.itemImg.storeList {
  background: #d9e0e9;
  border-radius: 100px;
  border: 2px solid #fff;
  box-shadow: 0px 3px 5px #bbc0c8;
}
.storeImg {
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    background: #d9e0e9;
    border-radius: 100px;
    border: 2px solid #fff;
    box-shadow: 0px 3px 5px #bbc0c8;
    margin: 0 auto 10px;
}
.storeImg img {
    width: 100%;
    height: auto;
}
.itemTitle {
    background: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 8px 8px 0px 0px;
    padding: 15px 10px 15px 20px;
    line-height: 1;
}
.itemTitle span.pricing{
    float: right;
    margin-bottom: 0px;
    font-size: 1rem;
}
.storebtn.btn.btn-primary {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    padding: 5px 15px;
    border-radius: 100px;
    background: #2068d5;
    border: 1px solid #2068d5;
    float: right;
    margin-top: 15px;
}
button.storebtn.delete.btn.btn-primary.btn-block {
    background: white;
    border: 1px solid #dc3545;
    color: #dc3545;
}
button.storebtn.copy_link.btn.btn-primary.btn-block {
    background: #fff;
    border: 1px solid #a5afbe;
    color: #5f6d82;
}
button.signup.nav-item {
    border: 1px solid #6896dd;
    background: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 600;
    color: #6896dd;
    margin-right: -5px;
}
span.divider {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #a2adbd;
    margin: 25px 0px 5px;
}
.bottomNav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    margin: 0!important;
    text-align: center;
    padding: 13px 5px;
}
.svg-inline--fa {
  font-size: 1.3rem;
  display: block;
  margin: 0 auto;
}
span.navItem {
    display: block;
    width: 100%;
    height: 100%;
}
.bottomNav a, .bottomNav a:hover {
  color: #9aa7b7;
}
.bottomNav .active, .bottomNav .active:hover {
  text-decoration: none;
  color: #394450;
}
.newitemform {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.uploadcare--widget {
  display: block;
}
.uploadcare--widget button {
  background: #6e7e95;
  font-weight: 500;
  width: 100%;
  margin-bottom: 20px;
}
span.uploadImg {
    display: block;
    width: 100%;
    background: #dbe4f0;
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
}
span.uploadImg img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
button.settings {
  background: #c2cddd;
  border: 1px solid #c2cddd;
  color: #354152;
  font-weight: 600;
}
span.poweredby {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #65768d;
}
h1.pageTitle {
    margin: 60px 0px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}
